body, #main{
    background-color: #bbbbbb;
}
#viewport {
    width: 70%;
    height: 90%;
    float:left;
    min-height: 400px;
}
canvas {
    border-radius: 15px;
}
#dicomImage {
    float:right;
    left: 0%;
    height: 256px;
    width: 256px;
}
#controls {
    width: 100%;
    clear:both;
}
#sliceSpan {
    position: absolute;
}
#sliceRange {
    margin-top: 2.0em;
}
#sampleButton, #or, #choose {
    padding: 0.5em;
    margin: 1.0em;
}
#meshFile {
    margin-left: 2.0em;
}
#status {
    position: absolute;
}
